.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    padding: 2rem 5rem;
}

.container h1
{
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

.container label
{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.container input,
.container select
{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.container button
{
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}


.formGroup
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}