/* styles.module.css */
.itemContainer
{
    /* font-family: 'Arial', sans-serif; */
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 900px;
    margin: 40px auto 0 auto;
}

.title
{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.productName
{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.date
{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.table
{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td
{
    padding: 10px;
    text-align: left;
}

.totalContainer
{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    margin-top: 20px;
}

.totalText
{
    font-weight: bold;
    margin-right: 10px;
}

.totalAmount
{
    font-size: 20px;
    color: #007bff;
}

.actions
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button
{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover
{
    background-color: #0056b3;
}

.inputGroup
{
    margin-bottom: 15px;
}

.inputGroup label
{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.inputGroup input,
.inputGroup select
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.inputGroup input[type="date"]
{
    font-size: 14px;
}

.linkContainer
{
    text-align: center;
    margin-top: 30px;
}

.link
{
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.link:hover
{
    text-decoration: underline;
}

@media print
{
    .itemContainer
    {
        width: 100%;
        margin: 0;
        padding: 10px;
        border: none;
    }

    .button
    {
        display: none;
    }

    .linkContainer
    {
        display: none;
    }
}

/* styles.module.css */
.printButton
{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.printButton:hover
{
    background-color: #218838;
}

.facturaContent
{
    margin-top: 30px;
}

/* Estilo para ocultar los inputs y selects durante la impresión */
@media print
{

    .inputGroup,
    .printButton
    {
        display: none;
    }
}


.gridContainer {
    display: grid;
    grid-auto-rows: minmax(48px, auto);
    margin: 20px 0px;
}

.gridRow{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 48px;
}
.gridSubRow{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 48px;
    margin-left: auto;
}

.gridHeader {
    font-weight: bold;
    padding: 12px;
}

.gridItem {
    padding: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 313px;
    overflow: hidden;
}
.gridSubItem {
    padding: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 313px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.total{
    margin-bottom: 10px;
}